.button__container {
  background-color: var(--primary-color);
  border-radius: 50px;
  color: var(--quaternary-color);
  font-size: var(--heading4);
  margin: 20px 0;
  padding: 15px 20px;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.4s;
  width: 11vw;
  min-width: 9vw;
}

.button__container:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.button__container:active {
  transform: scale(0.9);
}
