.Categories__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.categories__imagen1 {
  align-items: center;
  background-image: url("../../img/Hamburguesas.png");
  background-size: cover;
  display: flex;
  height: 20vw;
  justify-content: center;
  width: 22vw;
}

.categories__imagen2 {
  align-items: center;
  background-image: url("../../img/Empanadas.png");
  background-size: cover;
  display: flex;
  height: 20vw;
  justify-content: center; 
  width: 22vw;
}

.categories__imagen3 {
  align-items: center;
  background-image: url("../../img/MilanesasSoja.png");
  background-size: cover;
  display: flex;
  height: 20vw;
  justify-content: center; 
  width: 22vw;
}

.categories__imagen4 {
  align-items: center;
  background-image: url("../../img/Panificados.png");
  background-size: cover;
  display: flex;
  height: 20vw;
  justify-content: center;
  width: 22vw;
}

@media screen and (max-width: 768px) {
  .Categories__container {   
    flex-wrap:wrap;
  }
  
  .categories__imagen1, .categories__imagen2, .categories__imagen3, .categories__imagen4 {
    height: 45vw;
    width: 45vw;
    margin: 1vw 0;
  }
}

@media screen and (max-width: 414px) {
  .Categories__container {    
    flex-direction: column;
  }
  
  .categories__imagen1, .categories__imagen2, .categories__imagen3, .categories__imagen4 {
    height: 90.25vw;
    width: 100%;
    margin: 1vw 0;
  }
}