@font-face {
  font-family: "Avenir";
  src: url("../../fonts/AVENIRNEXTLTPRO-CN.OTF");
}

.navigation__container {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
  
}

.navigation__container > ul {
  align-items: center;
  display: flex;
  justify-content: space-around;
  width: 50%;
}

.navigation__container > ul > li {
  font-family: "Avenir";
  font-size: var(--heading2);
  font-weight: bold;
  list-style: none;
  text-transform: uppercase;
  transition: all 0.4s;
}

.navigation__container > ul > li:hover {
  color: var(--primary-color);
  cursor: pointer;
}
