nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;  
}

nav > ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
}

nav > ul > li {
    list-style: none;
    font-size: var(--heading3);
    text-transform: uppercase;
    font-weight: bold;
    transition: all 0.4s;
}

nav > ul > li:hover {
    cursor: pointer;
    color: var(--primary-color)
}